.auth {
    background-image: url("/images/intro/entranceBg.png");
    height: 83vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 36.125rem;
    background: #fff;
    min-height: 42rem;
    padding: 2rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 10px 2px rgba(143, 146, 148, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.top {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.top > h2 {
    color: var(--dark-grey);
    font-size: 1.7rem;
    font-weight: 700;
}

.top > p {
    font-size: 1.2rem;
    color: var(--grey);
}

.formRegister {
    gap: 1rem;
}

.formRegister * {
    font-family: "Nunito Sans", sans-serif !important;
    margin-right: 0 !important;
}

.providers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    height: 1px;
    background: var(--light-grey);
    width: 47%;
}

.providers > p {
    color: var(--light-grey);
    font-size: 1.5rem;
    text-align: center;
}