@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
}

:root {
  --purple-white: #F6F6FE;
  --grey: #7C8DB0;
  --dark-grey: #6E7491;
  --light-grey: #CBD4E6;
  --purple-blue: #605DEC;
  --purple-hovered: #7892fa;
  --turqoise: #5CD6C0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}